@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
@media screen and (max-width: 500px)  {
    nav {
        width: 50%;
        margin: auto;
        
    }
    a {
        padding: 15px;
    }
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0));
    background-image: url(../imageGallery/pcbBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.card {
    background-image: linear-gradient(to bottom, rgba(3, 193, 0, 0.959), rgb(255, 255, 255));
    border-radius: 2rem;
    text-align: center;
}

.wrap {
    padding: 10px;
    padding-bottom: 30px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #0fa,
              0 0 0.8rem #0fa,
              0 0 2.8rem #0fa,
              inset 0 0 1.3rem #0fa;
    animation: 0.5s ease-in-out infinite alternate;
}
nav {
    padding: 2rem;
}

h2, a {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    /* text-shadow: rgb(0, 146, 22), 50px; */
    text-shadow:
    0 0 7px #047704,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

h2 {
    color: rgb(245, 255, 245);
    font-style: italic;
    font-weight: 600;
    /* width: 65%; */
    margin: auto;
}

a {
    text-decoration: none;
    color: darkgreen;
    font-size: large;
    font-weight: 400;
    padding: 5px;
}

a:hover {
    color: rgb(175, 255, 175);
    transform: scale(1.5);
    transition: .2s ease;
}